.card-container {
  margin-top: 220px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: inherit;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 300px;
  /* background-color: #e0e0e0; */
  background-color: #252525;
  margin: 50px;
  border-radius: 20px 20px;
  box-shadow: 1px 1px 20px 10px rgb(21, 255, 0);
  font-family: "Space Grotesk", sans-serif;
  border: 0.5px solid black;
  transition: transform 0.5s;
}

.card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
  font-weight: 100;
  /* color: #000000; */
  color: #aad3ea;
}

li {
  list-style: none;
}

.card__image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  border: 1px solid black;
}

.card__title {
  font-weight: 500;
  /* color: #000000; */
  color: #fbf976;
}

.card__info-title {
  font-weight: 300;
  /* color: #000000; */
  color: #aad3ea;
}
